.searchBox{
    margin-bottom: 20px;
}

.input{
    height: 30px;

    padding-left: 5px;

    border: 2px solid black;
    border-radius: 10px;
    outline: none;
}

.input:focus,
.input:hover{
    border: 2px solid rgb(143, 143, 143);
}

.label{
    margin-bottom: 5px;

}