form{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;

    border: 2px solid black;
    border-radius: 10px;

    padding: 15px;
    margin-bottom: 10px;
}

.boxInput{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;

    width: 100%;
}


.label{

}

.input{
    box-sizing: border-box;
    width: 100%;
    height: 30px;

    border: 2px solid black;
    border-radius: 10px;
    outline: none;
    padding-left: 5px;
}

.input:focus,
.input:hover{
    border: 2px solid rgb(143, 143, 143);
}

.error{
    font-size: small;
    color: red;
}

.button{
    width: 100px;

    color: white;
    background-color: black;

    border: 2px solid black;
    border-radius: 5px;

    outline: none;
}

.button:focus,
.button:hover{

    color: black;
    background-color: white;
    border: 2px solid rgb(143, 143, 143);
    cursor: pointer;
}